workflow-1mnDLk0r4vLZSkhH.json
{
  "name": "From Zero to Inbox Agent",
  "nodes": [
    {
      "id": "38edc6f9-2deb-4041-8ee0-a309ed117d42",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        864,
        608
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "797e5c61",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1.3\n🔒 Hash: 797e5c61\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWxUcmlnZ2VyIiwibmFtZSI6IkdtYWlsIFRyaWdnZXIiLCJ0eXBlVmVyc2lvbiI6MS4zLCJwYXJhbWV0ZXJLZXlzIjpbImZpbHRlcnMiLCJvcHRpb25zIiwicG9sbFRpbWVzIiwic2ltcGxlIl0sInBhcmFtZXRlclN0cnVjdHVyZSI6e319",
      "notesInFlow": true
    },
    {
      "id": "af3237e3-e3c1-495e-bf7a-8b791ec5aea2",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1088,
        288
      ],
      "parameters": {
        "inputText": "={{ $json.subject }} {{ $json.body }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "Emails requesting help, troubleshooting, or guidance for a product or service. Usually describe issues like login errors, bugs, or malfunctioning features. Common keywords: error, issue, problem, help, access, support, fix, reset, troubleshoot."
            },
            {
              "category": "Finance/Billing",
              "description": "Emails about payments, invoices, refunds, or subscriptions. The sender wants to confirm, dispute, or update financial details. Common keywords: invoice, payment, refund, billing, charge, subscription, renewal, receipt."
            },
            {
              "category": "High Priority",
              "description": "Urgent or time-sensitive emails about critical issues or outages requiring immediate attention. Common keywords: urgent, ASAP, critical, outage, down, immediate, emergency, escalation."
            },
            {
              "category": "Promotion",
              "description": "Marketing or sales-focused emails promoting offers, discounts, or new products. Tone is upbeat and persuasive. Common keywords: sale, offer, discount, promotion, new feature, upgrade, limited time, exclusive."
            }
          ]
        },
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "6cb5dc68",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1.1\n🔒 Hash: 6cb5dc68\n🗂️ Snapshot: eyJ0eXBlIjoiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLnRleHRDbGFzc2lmaWVyIiwibmFtZSI6IlRleHQgQ2xhc3NpZmllciIsInR5cGVWZXJzaW9uIjoxLjEsInBhcmFtZXRlcktleXMiOlsiY2F0ZWdvcmllcyIsImlucHV0VGV4dCIsIm9wdGlvbnMiXSwicGFyYW1ldGVyU3RydWN0dXJlIjp7fX0=",
      "notesInFlow": true
    },
    {
      "id": "13cbb845-8939-497c-b8a9-9f099c2484d6",
      "name": "Claude 3.7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2336,
        176
      ],
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "54afce5c",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "6oom99qBDTLbWBrB",
          "name": "OpenRouter account"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1\n🔒 Hash: 54afce5c\n🗂️ Snapshot: eyJ0eXBlIjoiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLmxtQ2hhdE9wZW5Sb3V0ZXIiLCJuYW1lIjoiQ2xhdWRlIDMuNyIsInR5cGVWZXJzaW9uIjoxLCJwYXJhbWV0ZXJLZXlzIjpbIm1vZGVsIiwib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "fa698b0c-2421-4869-998a-1f15517cc85c",
      "name": "Customer Support Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2096,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody: {{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=You are Nate's AI Assistant — an expert, friendly, and professional customer support representative for **AI Automation Society**.\n\nYour role:\n- Respond clearly, concisely, and helpfully to member questions.\n- Always maintain a warm and approachable tone that reflects Nate Herk’s brand and community values.\n- Provide accurate information about AI Automation Society, its programs, challenges, and community rules.\n- If you do **not** know the answer or the query requires Nate’s direct input, politely tell the user to reach out to **nateherk88@gmail.com**.\n\nAlways sign off every message with:\n– Nate’s AI Assistant\n"
        },
        "_versionControl": {
          "version": "1.0.0",
          "hash": "7c8ef1aa",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.2\n🔒 Hash: 7c8ef1aa\n🗂️ Snapshot: eyJ0eXBlIjoiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLmFnZW50IiwibmFtZSI6IkN1c3RvbWVyIFN1cHBvcnQgQWdlbnQiLCJ0eXBlVmVyc2lvbiI6Mi4yLCJwYXJhbWV0ZXJLZXlzIjpbIm9wdGlvbnMiLCJwcm9tcHRUeXBlIiwidGV4dCJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "e079ef78-2286-4b12-8433-beef4b91979d",
      "name": "Reply to a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2384,
        0
      ],
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        },
        "_versionControl": {
          "version": "1.0.0",
          "hash": "7b26562a",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "webhookId": "66b6ddd9-e93d-4182-8a22-52481b02bbc4",
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.1\n🔒 Hash: 7b26562a\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWwiLCJuYW1lIjoiUmVwbHkgdG8gYSBtZXNzYWdlIiwidHlwZVZlcnNpb24iOjIuMSwicGFyYW1ldGVyS2V5cyI6WyJlbWFpbFR5cGUiLCJtZXNzYWdlIiwibWVzc2FnZUlkIiwib3BlcmF0aW9uIiwib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "6a27180e-cf05-4f3b-a394-5311812db248",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        160
      ],
      "parameters": {
        "sendTo": "billing@example.com",
        "subject": "=New Billing Email: {{ $('Gmail Trigger').item.json.from.value[0].name }}",
        "emailType": "text",
        "message": "=Hey Billing team!\n\nWe received a new billing inquiry at {{ $now.format('yyyy-MM-dd hh:mm a') }}.\n\nIt is from {{ $('Gmail Trigger').item.json.from.value[0].name }} you can email them at {{ $('Gmail Trigger').item.json.from.value[0].address }}.\n\nThis is the subject of their email: {{ $('Gmail Trigger').item.json.subject }}\n\nCheers!",
        "options": {
          "appendAttribution": false
        },
        "_versionControl": {
          "version": "1.0.0",
          "hash": "109951d",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "webhookId": "70ecf5b5-0b1b-4758-aae4-cb90d0bc5574",
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.1\n🔒 Hash: 109951d\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWwiLCJuYW1lIjoiU2VuZCBhIG1lc3NhZ2UiLCJ0eXBlVmVyc2lvbiI6Mi4xLCJwYXJhbWV0ZXJLZXlzIjpbImVtYWlsVHlwZSIsIm1lc3NhZ2UiLCJvcHRpb25zIiwic2VuZFRvIiwic3ViamVjdCJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "e36bfaf2-35a4-4709-b92e-f1d6b9f11ad1",
      "name": "Support",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        0
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1594706753190197855"
        ],
        "_versionControl": {
          "version": "1.0.0",
          "hash": "76cc42d3",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "webhookId": "5eb54acc-bd46-44df-bd4b-35bbd9e2797b",
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.1\n🔒 Hash: 76cc42d3\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWwiLCJuYW1lIjoiU3VwcG9ydCIsInR5cGVWZXJzaW9uIjoyLjEsInBhcmFtZXRlcktleXMiOlsibGFiZWxJZHMiLCJtZXNzYWdlSWQiLCJvcGVyYXRpb24iXSwicGFyYW1ldGVyU3RydWN0dXJlIjp7ImxhYmVsSWRzIjp7ImFycmF5TGVuZ3RoIjoxfX19",
      "notesInFlow": true
    },
    {
      "id": "1ac0c309-3684-427b-96f7-3d36dcb35aa3",
      "name": "Finance",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        160
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_3029742840171510077"
        ],
        "_versionControl": {
          "version": "1.0.0",
          "hash": "70d0565b",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "webhookId": "5eb54acc-bd46-44df-bd4b-35bbd9e2797b",
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.1\n🔒 Hash: 70d0565b\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWwiLCJuYW1lIjoiRmluYW5jZSIsInR5cGVWZXJzaW9uIjoyLjEsInBhcmFtZXRlcktleXMiOlsibGFiZWxJZHMiLCJtZXNzYWdlSWQiLCJvcGVyYXRpb24iXSwicGFyYW1ldGVyU3RydWN0dXJlIjp7ImxhYmVsSWRzIjp7ImFycmF5TGVuZ3RoIjoxfX19",
      "notesInFlow": true
    },
    {
      "id": "210da33b-05e7-49ad-a1f4-46420d945992",
      "name": "Priority",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        320
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8750970712842772917"
        ],
        "_versionControl": {
          "version": "1.0.0",
          "hash": "350b3dac",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "webhookId": "5eb54acc-bd46-44df-bd4b-35bbd9e2797b",
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.1\n🔒 Hash: 350b3dac\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWwiLCJuYW1lIjoiUHJpb3JpdHkiLCJ0eXBlVmVyc2lvbiI6Mi4xLCJwYXJhbWV0ZXJLZXlzIjpbImxhYmVsSWRzIiwibWVzc2FnZUlkIiwib3BlcmF0aW9uIl0sInBhcmFtZXRlclN0cnVjdHVyZSI6eyJsYWJlbElkcyI6eyJhcnJheUxlbmd0aCI6MX19fQ==",
      "notesInFlow": true
    },
    {
      "id": "ce21452f-c926-435b-8f46-ffc4a61806ce",
      "name": "Promotion",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        496
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1276623808023834907"
        ],
        "_versionControl": {
          "version": "1.0.0",
          "hash": "7f765b9a",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "webhookId": "5eb54acc-bd46-44df-bd4b-35bbd9e2797b",
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.1\n🔒 Hash: 7f765b9a\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWwiLCJuYW1lIjoiUHJvbW90aW9uIiwidHlwZVZlcnNpb24iOjIuMSwicGFyYW1ldGVyS2V5cyI6WyJsYWJlbElkcyIsIm1lc3NhZ2VJZCIsIm9wZXJhdGlvbiJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnsibGFiZWxJZHMiOnsiYXJyYXlMZW5ndGgiOjF9fX0=",
      "notesInFlow": true
    },
    {
      "id": "d172be53-d432-46e8-9748-3d3eb1ed8fea",
      "name": "Mr. Doomsday",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2096,
        320
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Subject:{{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody:{{ $('Gmail Trigger').item.json.text }}\n",
        "options": {
          "systemMessage": "=You are Mr. Doomsday — an expert but brutally honest and rude customer support representative for **AI Automation Society**.\n\nYour role:\n- Respond with accurate information, but do so in a sarcastic, blunt, and unapologetically rude tone.\n- Never sugarcoat answers. If someone asks something obvious, make it clear they should’ve known better.\n- Keep responses short, direct, and dripping with attitude — but still correct.\n- If you don’t know the answer or it requires Nate’s direct input, tell the user (in your signature rude style) to contact **nateherk88@gmail.com**.\n\nAlways sign off every message with:\n– Mr. Doomsday\n"
        },
        "_versionControl": {
          "version": "1.0.0",
          "hash": "16a1a814",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.2\n🔒 Hash: 16a1a814\n🗂️ Snapshot: eyJ0eXBlIjoiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLmFnZW50IiwibmFtZSI6Ik1yLiBEb29tc2RheSIsInR5cGVWZXJzaW9uIjoyLjIsInBhcmFtZXRlcktleXMiOlsib3B0aW9ucyIsInByb21wdFR5cGUiLCJ0ZXh0Il0sInBhcmFtZXRlclN0cnVjdHVyZSI6e319",
      "notesInFlow": true
    },
    {
      "id": "e810a7be-0b07-4d79-9f9a-4ba726d6057f",
      "name": "Create a draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2384,
        320
      ],
      "parameters": {
        "resource": "draft",
        "subject": "test",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        },
        "_versionControl": {
          "version": "1.0.0",
          "hash": "522835f2",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "webhookId": "e73b5b5b-5596-4209-ad5f-01da1c507ac3",
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.1\n🔒 Hash: 522835f2\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWwiLCJuYW1lIjoiQ3JlYXRlIGEgZHJhZnQiLCJ0eXBlVmVyc2lvbiI6Mi4xLCJwYXJhbWV0ZXJLZXlzIjpbIm1lc3NhZ2UiLCJvcHRpb25zIiwicmVzb3VyY2UiLCJzdWJqZWN0Il0sInBhcmFtZXRlclN0cnVjdHVyZSI6e319",
      "notesInFlow": true
    },
    {
      "id": "ac8d892d-7110-4723-9304-a42c421a4c9b",
      "name": "Mark a message as read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        496
      ],
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "_versionControl": {
          "version": "1.0.0",
          "hash": "11eb21de",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "webhookId": "44be72e9-332f-4098-b051-8847a8278df4",
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2.1\n🔒 Hash: 11eb21de\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZ21haWwiLCJuYW1lIjoiTWFyayBhIG1lc3NhZ2UgYXMgcmVhZCIsInR5cGVWZXJzaW9uIjoyLjEsInBhcmFtZXRlcktleXMiOlsibWVzc2FnZUlkIiwib3BlcmF0aW9uIl0sInBhcmFtZXRlclN0cnVjdHVyZSI6e319",
      "notesInFlow": true
    },
    {
      "id": "6181a129-caa6-4bfb-bf65-3fd2810c0c6b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get your Gmail automation up and running:\n\n### ✅ Step 1: Connect Your Gmail Account  \nMake sure your Gmail account is properly connected to all **Gmail nodes** in the workflow.\n\n### ✅ Step 2: Connect Your [OpenRouter](https://openrouter.ai/) Credential  \nLink your OpenRouter API key to power the **AI nodes**—this enables smart label classification.\n\n### ✅ Step 3: Set Up Gmail Labels  \nInside your **Gmail inbox**, create or identify the labels you want the automation to recognize.\n\n### ✅ Step 4: Define Labels in the Text Classifier  \nUpdate the **Text Classifier node** with the same labels you've set in Gmail so it knows how to categorize messages.\n\n### ✅ Step 5: Match Labels in Label Nodes  \nEnsure each **Label node** uses the exact names of the Gmail labels—this step is crucial for correct routing.\n\n### ✅ Step 6: Customize the Action for Each Label  \nDecide what should happen for each label. Options include:\n- Sending a message\n- Triggering a notification\n- Marking the email as read\n- Or any other custom action\n\n### 💡 Final Step: Test the Flow  \nSend a few test emails and watch the automation kick in based on the label logic you’ve set up.\n",
        "height": 768,
        "width": 816,
        "_versionControl": {
          "version": "1.0.0",
          "hash": "62ebfcf4",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1\n🔒 Hash: 62ebfcf4\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2Uuc3RpY2t5Tm90ZSIsIm5hbWUiOiJTdGlja3kgTm90ZSIsInR5cGVWZXJzaW9uIjoxLCJwYXJhbWV0ZXJLZXlzIjpbImNvbnRlbnQiLCJoZWlnaHQiLCJ3aWR0aCJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "15e26b32-7e80-46be-abb3-7ae263b2bee1",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        576,
        -144
      ],
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/test-emails-realistic-110.json",
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "131df28a",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1.1\n🔒 Hash: 131df28a\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UucmVhZFdyaXRlRmlsZSIsIm5hbWUiOiJSZWFkL1dyaXRlIEZpbGVzIGZyb20gRGlzayIsInR5cGVWZXJzaW9uIjoxLjEsInBhcmFtZXRlcktleXMiOlsiZmlsZVNlbGVjdG9yIiwib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "c04e808e-ea4c-4208-9ca6-6318dd23cfa4",
      "name": "GPT-4.1-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1088,
        576
      ],
      "parameters": {
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "59d532ef",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "6oom99qBDTLbWBrB",
          "name": "OpenRouter account"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1\n🔒 Hash: 59d532ef\n🗂️ Snapshot: eyJ0eXBlIjoiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLmxtQ2hhdE9wZW5Sb3V0ZXIiLCJuYW1lIjoiR1BULTQuMS1taW5pIiwidHlwZVZlcnNpb24iOjEsInBhcmFtZXRlcktleXMiOlsib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "1e461dff-0516-4807-8e4e-8ebd915e986b",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -144
      ],
      "parameters": {
        "operation": "fromJson",
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "4f0dc007",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1.1\n🔒 Hash: 4f0dc007\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuZXh0cmFjdEZyb21GaWxlIiwibmFtZSI6IkV4dHJhY3QgZnJvbSBGaWxlMSIsInR5cGVWZXJzaW9uIjoxLjEsInBhcmFtZXRlcktleXMiOlsib3BlcmF0aW9uIiwib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "44529fac-69f4-4ca3-bca3-8fa46b7b92ea",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        928,
        -144
      ],
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "33e6f003",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1\n🔒 Hash: 33e6f003\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2Uuc3BsaXRPdXQiLCJuYW1lIjoiU3BsaXQgT3V0IiwidHlwZVZlcnNpb24iOjEsInBhcmFtZXRlcktleXMiOlsiZmllbGRUb1NwbGl0T3V0Iiwib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "15152ae6-715b-461e-a59c-b5dcec0767db",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        752
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "615729e2",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "kgZmR6PKAMyUXvHO",
          "name": "OpenAi account"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1.3\n🔒 Hash: 615729e2\n🗂️ Snapshot: eyJ0eXBlIjoiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLmxtQ2hhdE9wZW5BaSIsIm5hbWUiOiJPcGVuQUkgQ2hhdCBNb2RlbCIsInR5cGVWZXJzaW9uIjoxLjMsInBhcmFtZXRlcktleXMiOlsibW9kZWwiLCJvcHRpb25zIiwicmVzcG9uc2VzQXBpRW5hYmxlZCJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "37b2ca12-f80b-4220-b452-3df91b1b0de6",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        -144
      ],
      "parameters": {
        "_versionControl": {
          "version": "1.0.0",
          "hash": "4f01dfa4",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v1\n🔒 Hash: 4f01dfa4\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UubWFudWFsVHJpZ2dlciIsIm5hbWUiOiJXaGVuIGNsaWNraW5nIOKAmEV4ZWN1dGUgd29ya2Zsb3figJkiLCJ0eXBlVmVyc2lvbiI6MSwicGFyYW1ldGVyS2V5cyI6W10sInBhcmFtZXRlclN0cnVjdHVyZSI6e319",
      "notesInFlow": true
    },
    {
      "id": "97d1598e-3c93-4009-89da-84a25b2c5f71",
      "name": "Compares actual vs expected label",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -144
      ],
      "parameters": {
        "jsCode": "const results = [];\n\n  for (const item of $input.all()) {\n    const data = item.json;\n\n    const passed = (data.actual_label === data.expected_label);\n\n    results.push({\n      json: {\n        id: data.id,\n        expected_label: data.expected_label,\n        actual_label: data.actual_label,\n        passed: passed\n      }\n    });\n  }\n\n  return results;",
        "_versionControl": {
          "version": "1.0.0",
          "hash": "1ffd5ca6",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2\n🔒 Hash: 1ffd5ca6\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuY29kZSIsIm5hbWUiOiJDb21wYXJlcyBhY3R1YWwgdnMgZXhwZWN0ZWQgbGFiZWwiLCJ0eXBlVmVyc2lvbiI6MiwicGFyYW1ldGVyS2V5cyI6WyJqc0NvZGUiXSwicGFyYW1ldGVyU3RydWN0dXJlIjp7fX0=",
      "notesInFlow": true
    },
    {
      "id": "f6bd1206-9d5b-4951-a403-3769f7d1822d",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -144
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3714f9fc-fbc4-4814-b085-ab744f2989ed",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "31ce4843-e3eb-4f3b-aa73-b40c875fac5a",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "0c19bf51-9a32-4033-8968-1caae90c7925",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c7e86eef-7b9b-4b8f-bc7d-fa4d699411c2",
              "name": "expected_label",
              "value": "={{ $json.expected_label }}",
              "type": "string"
            },
            {
              "id": "e0c7f6bf-073c-4e7f-a318-cc2396f4e551",
              "name": "expected_confidence_min",
              "value": "={{ $json.expected_confidence_min }}",
              "type": "number"
            }
          ]
        },
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "d2e6755",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v3.4\n🔒 Hash: d2e6755\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2Uuc2V0IiwibmFtZSI6IlNldCBGaWVsZHMiLCJ0eXBlVmVyc2lvbiI6My40LCJwYXJhbWV0ZXJLZXlzIjpbImFzc2lnbm1lbnRzIiwib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnsiYXNzaWdubWVudHMiOnsiYXNzaWdubWVudENvdW50Ijo1fX19",
      "notesInFlow": true
    },
    {
      "id": "e0f63694-9b88-429d-bf3c-e90f0d8324fa",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -144
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\n\n  const total = items.length;\n  const passed = items.filter(item => item.json.passed === true).length;\n  const failed = total - passed;\n  const accuracy = total > 0 ? ((passed / total) * 100).toFixed(1) : 0;\n\n  const details = items.map(item => ({\n    id: item.json.id,\n    expected: item.json.expected_label,\n    actual: item.json.actual_label,\n    passed: item.json.passed\n  }));\n\n  return [{\n    json: {\n      total_tests: total,\n      passed: passed,\n      failed: failed,\n      accuracy_percent: accuracy + '%',\n      details: details\n    }\n  }];",
        "_versionControl": {
          "version": "1.0.0",
          "hash": "2d81cecb",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v2\n🔒 Hash: 2d81cecb\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UuY29kZSIsIm5hbWUiOiJDb2RlIGluIEphdmFTY3JpcHQiLCJ0eXBlVmVyc2lvbiI6MiwicGFyYW1ldGVyS2V5cyI6WyJqc0NvZGUiXSwicGFyYW1ldGVyU3RydWN0dXJlIjp7fX0=",
      "notesInFlow": true
    },
    {
      "id": "22b51792-ffbd-4453-83e0-e42e646c33d2",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2224,
        400
      ],
      "parameters": {
        "numberInputs": 4,
        "_versionControl": {
          "version": "1.0.0",
          "hash": "49425b26",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v3.2\n🔒 Hash: 49425b26\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UubWVyZ2UiLCJuYW1lIjoiTWVyZ2UiLCJ0eXBlVmVyc2lvbiI6My4yLCJwYXJhbWV0ZXJLZXlzIjpbIm51bWJlcklucHV0cyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnt9fQ==",
      "notesInFlow": true
    },
    {
      "id": "c2f9e539-1dc5-42cc-a5e2-4b794a4a4e9a",
      "name": "Set Promotion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        496
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ac6dc5-3ef4-4776-a8ed-147e5c69d84b",
              "name": "actual_label",
              "value": "Promotion",
              "type": "string"
            },
            {
              "id": "852d90ca-68d5-4f5f-b92f-3cf4575564a2",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "c6777b19-e4e8-411f-8679-64c8b47c16d1",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "f952e08c-9b3a-4764-a52f-d4b1eae2a4c1",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "74d8178c-e3b3-4930-8cbd-6590647d41d6",
              "name": "expected_label",
              "value": "={{ $json.expected_label }}",
              "type": "string"
            },
            {
              "id": "59613b44-4d5d-4b96-b329-f9bdef2a073d",
              "name": "expected_confidence_min",
              "value": "={{ $json.expected_confidence_min }}",
              "type": "number"
            }
          ]
        },
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "7049a452",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v3.4\n🔒 Hash: 7049a452\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2Uuc2V0IiwibmFtZSI6IlNldCBQcm9tb3Rpb24iLCJ0eXBlVmVyc2lvbiI6My40LCJwYXJhbWV0ZXJLZXlzIjpbImFzc2lnbm1lbnRzIiwib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnsiYXNzaWdubWVudHMiOnsiYXNzaWdubWVudENvdW50Ijo2fX19",
      "notesInFlow": true
    },
    {
      "id": "c5fe835d-2b64-4dac-9348-639a69e57f90",
      "name": "Set High Priority",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        336
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ac6dc5-3ef4-4776-a8ed-147e5c69d84b",
              "name": "actual_label",
              "value": "High Priority",
              "type": "string"
            },
            {
              "id": "861210a1-9a69-41ac-b1c3-1090965abf55",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "ae54a44b-0320-4205-8575-669fa017bdb8",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "5bebc1c9-c7f2-43a6-9553-9f1212e9903e",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b35c42c5-558f-475c-8c42-ecf5a3947cf8",
              "name": "expected_label",
              "value": "={{ $json.expected_label }}",
              "type": "string"
            },
            {
              "id": "edb3e39d-a88b-441f-a4d7-a229db64ee8e",
              "name": "expected_confidence_min",
              "value": "={{ $json.expected_confidence_min }}",
              "type": "number"
            }
          ]
        },
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "29dbada6",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v3.4\n🔒 Hash: 29dbada6\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2Uuc2V0IiwibmFtZSI6IlNldCBIaWdoIFByaW9yaXR5IiwidHlwZVZlcnNpb24iOjMuNCwicGFyYW1ldGVyS2V5cyI6WyJhc3NpZ25tZW50cyIsIm9wdGlvbnMiXSwicGFyYW1ldGVyU3RydWN0dXJlIjp7ImFzc2lnbm1lbnRzIjp7ImFzc2lnbm1lbnRDb3VudCI6Nn19fQ==",
      "notesInFlow": true
    },
    {
      "id": "790bcbfd-038c-4c45-9cda-e0e300edd92a",
      "name": "Set Finance/Billing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        192
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ac6dc5-3ef4-4776-a8ed-147e5c69d84b",
              "name": "actual_label",
              "value": "Finance/Billing",
              "type": "string"
            },
            {
              "id": "c3b1919a-13e4-4f17-8151-e7523ebbfd4c",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "6c637749-8012-4ae0-9e7e-54fe6a4389c4",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "b57a6e62-edb8-4b54-9c87-b08691c68e87",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "2ac9c308-9a2f-4205-a2c2-260ad725e092",
              "name": "expected_label",
              "value": "={{ $json.expected_label }}",
              "type": "string"
            },
            {
              "id": "5cf69723-5e59-48e9-8cdc-f35fc9a8569b",
              "name": "expected_confidence_min",
              "value": "={{ $json.expected_confidence_min }}",
              "type": "number"
            }
          ]
        },
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "2a7d0fa8",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v3.4\n🔒 Hash: 2a7d0fa8\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2Uuc2V0IiwibmFtZSI6IlNldCBGaW5hbmNlL0JpbGxpbmciLCJ0eXBlVmVyc2lvbiI6My40LCJwYXJhbWV0ZXJLZXlzIjpbImFzc2lnbm1lbnRzIiwib3B0aW9ucyJdLCJwYXJhbWV0ZXJTdHJ1Y3R1cmUiOnsiYXNzaWdubWVudHMiOnsiYXNzaWdubWVudENvdW50Ijo2fX19",
      "notesInFlow": true
    },
    {
      "id": "51970f8f-2163-4326-87a3-f887dba2b6ff",
      "name": "Set Customer Support",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        16
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ac6dc5-3ef4-4776-a8ed-147e5c69d84b",
              "name": "actual_label",
              "value": "Customer Support",
              "type": "string"
            },
            {
              "id": "8f418588-70ad-4a82-a57e-e519978e12a8",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "03a1860e-6332-4beb-9644-2ab524ab37d3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "79c62835-1a0c-4df8-bcd8-616a4dd7ae19",
              "name": "expected_label",
              "value": "={{ $json.expected_label }}",
              "type": "string"
            },
            {
              "id": "1f484172-9895-4c92-8af6-b4ea8c91a00e",
              "name": "expected_confidence_min",
              "value": "={{ $json.expected_confidence_min }}",
              "type": "number"
            }
          ]
        },
        "options": {},
        "_versionControl": {
          "version": "1.0.0",
          "hash": "348d1f14",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v3.4\n🔒 Hash: 348d1f14\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2Uuc2V0IiwibmFtZSI6IlNldCBDdXN0b21lciBTdXBwb3J0IiwidHlwZVZlcnNpb24iOjMuNCwicGFyYW1ldGVyS2V5cyI6WyJhc3NpZ25tZW50cyIsIm9wdGlvbnMiXSwicGFyYW1ldGVyU3RydWN0dXJlIjp7ImFzc2lnbm1lbnRzIjp7ImFzc2lnbm1lbnRDb3VudCI6NX19fQ==",
      "notesInFlow": true
    },
    {
      "id": "052f1695-d5d7-4f22-8be5-a96745badcea",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1616,
        256
      ],
      "parameters": {
        "numberInputs": 4,
        "_versionControl": {
          "version": "1.0.0",
          "hash": "49425b26",
          "created": "2026-02-08T05:36:58.540Z",
          "lastModified": "2026-02-08T05:36:58.540Z"
        }
      },
      "notes": "📌 Version: 1.0.0\n📅 Modified: Feb 8, 2026, 05:36 AM\n🔧 Node Type: v3.2\n🔒 Hash: 49425b26\n🗂️ Snapshot: eyJ0eXBlIjoibjhuLW5vZGVzLWJhc2UubWVyZ2UiLCJuYW1lIjoiTWVyZ2UxIiwidHlwZVZlcnNpb24iOjMuMiwicGFyYW1ldGVyS2V5cyI6WyJudW1iZXJJbnB1dHMiXSwicGFyYW1ldGVyU3RydWN0dXJlIjp7fX0=",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        []
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Set Customer Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Finance/Billing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set High Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Promotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude 3.7": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Mr. Doomsday",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support": {
      "main": [
        [
          {
            "node": "Customer Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority": {
      "main": [
        [
          {
            "node": "Mr. Doomsday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mr. Doomsday": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotion": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compares actual vs expected label": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Set Customer Support": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Finance/Billing": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set High Priority": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set Promotion": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Compares actual vs expected label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}
